
body {
    background-image: linear-gradient(#A0D2EB, #D0BDF4, #A0D2EB);
      background-repeat: no-repeat;
      text-align: center;
      width: 1440px;
}


.inline-block li {
    display: inline-block;
    text-align: end;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #E5EAF5;
    stroke: #494D5F;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #494D5F;
    margin: 10px;
}

#Home {
    -webkit-text-stroke-width: 4px;
}

.inline-block {
    text-align: end;
    float: right;
    margin-left: 415px;
}

.inline-block-logo img {
    vertical-align: top;
    float: left;
    height: 86px;
    margin-left: 50px;
}

.hero {
    align-items: left;
    display: flex;
    margin-left: 366px;
    background-color: #E5EAF5;
    margin-right: 199px;
    margin-left: 199;
    margin-top: 25px;
}

.content {
    text-align: left;
    margin-left: 221px;

}

.Navigation {
    display: flex;
    vertical-align: top;
    background-color: #B6DBEE;
    align-items: center;
    margin: -2px;
    margin-top: 0px;
}

#uh1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #8458B3
}

#uh2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 42px;
    color: #494D5F
}

#Scroll {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 21px;
    text-align: center;
    margin-left: -85px;
}

.line-1 {
    height: 2px;
    background: black;
  }

.hero p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #494D5F
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #8458B3
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#intouch {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #494D5F
}

footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #494D5F